body{
  background-color:rgb(148, 189, 228);
}

body{
  font-family: 'Poppins', sans-serif;
  margin: opx;
}


nav{
  background: #7ba8e2;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

h1{
  font-size: 50px;
}
.green-highlight{
  color: rgb(11, 137, 255);
  
  }
  .half-width{
    width: 40%;
  float: left;
     margin-left: 7%;
     padding-left: 2%;
 
 }
 #link-button{
  text-decoration: none;
  background-image: linear-gradient( rgb(4, 75, 141), rgb(14, 121, 221));
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  font-weight: 100;
  }
  p{
    color: rgb(200, 209, 219);
    
    }
    .half-width img{
       width: 100%;
       margin: 10px;

    }
    

    
    #link-button2{
    
      text-decoration: none;
      background-image: linear-gradient(rgb(255, 96, 68),rgb(194, 62, 39));
      padding: 10px 20px;
      border-radius: 5px;
      color: black;
      font-weight: 100;

    }
    #about-color{

      color: tomato;

    
    }
    
        .one-third-width{
         width: 20%;
         float: left;
         margin-left: 7%;
        padding-left: 2%;
 


        }
        .single-project{
          box-shadow: 20px 20px  40px gray ;
          border-radius:5px ;
          height: 20%;
          background-color: white;
        }
       .exp-area{
        float: left;
        margin: 10%;

       }
       #bg1{
        background-color: rgba(41, 129, 212, 0.664);
       }
       .head-pro{
       font-size: 60px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

       }
       #pro-head{
         color: tomato;
         
         
       }
       .exp-area h2{
           color: rgb(255, 255, 255);
           background-color: rgb(0, 0, 0);
            border: black;
            border-radius: 7px;
            width: 90%;
            text-align: center;
            box-shadow: 10px 10px  20px gray ;

       }
       .img-style{
           position: absolute;
           
           top: -50px;
           left: 50%;

       }
       #img1 {
        width: 90%;
        

       }
       
      #img2{

       width: 90%;

      }
      #img3{
        width: 90%;


      }
      .bg{
        background-image: url("img2/shapes/Group_33094_1.png");
        float: left;
        width: 60%;
        height: 700%;
        background-repeat: no-repeat;
        margin-left: 450px;
        background-size: 870px;
        margin-bottom: 50px;
       


      }
      .wi{
    text-align: left;
 font-size: 30px;
  margin-top: 70px;
  margin-left: 20px;
  padding: 10px 10px 10px 120px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
      }
      .chat{
     text-align: right;
     margin-right: 300px;
     position: relative;
     bottom: 100px;
    
      }
      #chat-link{
        text-decoration: none;
        background-image: linear-gradient( rgb(194, 63, 31), rgb(14, 121, 221));
        padding: 10px 20px;
        border-radius: 5px;
        color: rgb(187, 187, 187);
        font-weight: 100;
      }
      footer p{
        text-align: center;
        padding-top: 150%;
        font-size: 20px;
        
        
        
        }
        #logo1{
        float: left;
         margin-left:670px;
          padding: 0;
        }
        #logo2{
       float: left;
       margin-left: 100px ;
      

        }
        #logo3{
         float: left;
          margin-left: 100px;
          

        }
       